@font-face {
    font-family: 'RDSans';
    src: url('RDSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

div.header {
    height: 4rem;
    background-color: rgb(5, 5, 5);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    position: sticky;
}

div.header img {
    height: 75%;
}

div.header .header-page-name {
    font-family: 'RDSans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
}

div.country-list {
    display: flex;
    width: 100%;
    background-color: rgb(15 18 24);
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

div.country-list a {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

div.country-list a:hover {
    background-color: rgb(25, 29, 37);
}

div.country-list a a {
    color: black;
    font-family: 'RDSans', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

div.station-list {
    width: 100%;
    background-color: #141414;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.station-controls {
    background-color: rgb(39, 39, 39);
    position: relative;
    color: white;
}

.load-button {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: rgb(138, 0, 9);
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.load-button svg {
    width: 75%;
    height: 75%;
}

div.station-info {
    display: flex;
    gap: 1rem;
    align-items:baseline;
    padding: 1rem;
    font-family: 'RDSans', Tahoma, Geneva, Verdana, sans-serif;
}

div.station-item:not(:last-child) {
    border-bottom: 1px solid #4e4e4e;
}

div.station-info h2, h3 {
    margin: 0.5rem 0;
}

div.player {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.player .player-station-information {
    display: flex;
    gap: .7rem;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    height: 4rem;
}

div.player .player-station-information img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-left: 1.5rem;
}

div.player-station-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

div.player .player-station-information #player-station-track-title, #player-station-track-artist {
    font-family: 'RDSans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: white;
    margin: 0;
    text-align: left;
}

div.player .player-controls {
    width: 60%;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    height: 4rem;
}

div.player .player-station-information button {
    position: absolute;
    right: 1.58rem;
    background-color: rgb(247 0 18);
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

div.player .player-station-information button:hover {
    background-color: rgb(172, 0, 11);
}

div.player .player-station-information button svg {
    width: 1.5rem;
}

#video {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    animation: spin 1s linear infinite;
}